<html xmlns:th="http://www.thymeleaf.org">
<div class="navitagorDiv" th:fragment="adminNavigator">
	<script th:inline="javascript">
		$(function () {
			var curUrl = document.location.href;
			$("#adminNav").find("a").each(function(){
				if(curUrl.indexOf("order") > 0 && $(this).attr("href").indexOf("order") > 0)
					$(this).parent().addClass("active");
				else if(curUrl.indexOf("user") > 0 && $(this).attr("href").indexOf("user") > 0)
					$(this).parent().addClass("active");
				else
					if($(this).attr("href").indexOf("category") > 0) {
						if(curUrl.indexOf("order") < 0 && curUrl.indexOf("user") < 0)
							$(this).parent().addClass("active");
					}
			});	
		})
	</script>
	<nav id="adminNav" class="navbar navbar-expand-lg navbar-dark stylish-color-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<img style="margin-left:10px;margin-right:0px" class="pull-left" th:attr="src=@{/img/site/tmallbuy.png}" height="45px">
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">天猫后台</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/category/list}">分类管理</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/user/list}">用户管理</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/order/list}">订单管理</a>
			</li>
		</ul>
	</nav>
</div>
</html>