<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>产品管理</title>
<link rel="shortcut icon" type="image/x-icon" 
	th:href="@{/img/site/tmallIcon.ico}" media="screen" />
</head>
<body>
	<div th:insert="~{/include/admin/adminHeader :: adminHeader}"></div>
	<div th:insert="~{/include/admin/adminNavigator :: adminNavigator}"></div>	

	<script>
    $(function() {
			$("#addForm").submit(function() {
				if (!checkEmpty("name", "产品名称"))
						return false;
				if (!checkEmpty("subTitle", "小标题"))
						return false;
				if (!checkNumber("originalPrice", "原价格"))
						return false;
				if (!checkNumber("promotePrice", "优惠价格"))
						return false;
				if (!checkInt("stock", "库存"))
						return false;
				return true;
			});
        
      //删除产品
			$("span#productDelete").click(function(){
				var url = $(this).attr("link");
				deleteFun(url);
			});
      
      //分类id
			var cid = [[${c.id}]];
      //拼接url的字符串数组
	    var urls = new Array("category",cid);
	    //为分页按钮a元素设置对应的href属性值
      setPageUrl(urls);
    });
</script>

<div class="workingArea">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a th:href="@{/admin/category}">所有分类</a></li>
		<li class="breadcrumb-item"><a th:href="@{'/admin/category/'+${c.id}+'/product'}" th:inline="text">[[${c.name}]]</a></li>
		<li class="breadcrumb-item active">产品管理</li>
	</ol>
	<div class="listDataTableDiv">
		<table class="table table-sm">
			<thead class="grey lighten-5">
			<tr>
				<th>ID</th>
				<th>图片</th>
				<th>产品名称</th>
				<th>产品小标题</th>
				<th width="53px">原价格</th>
				<th width="80px">优惠价格</th>
				<th width="80px">库存数量</th>
				<th width="80px">图片管理</th>
				<th width="80px">设置属性</th>
				<th width="50px">编辑</th>
				<th width="50px">删除</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${ps}">
					<td th:inline="text">[[${p.id}]]</td>
					<td th:if="${p.firstProductImage}">
						<img width="40px" th:attr="src=@{'/img/productSingle/'+${p.firstProductImage.id}+'.jpg'}">
					</td>
					<td th:inline="text">[[${p.name}]]</td>
					<td th:inline="text">[[${p.subTitle}]]</td>
					<td th:inline="text">[[${p.originalPrice}]]</td>
					<td th:inline="text">[[${p.promotePrice}]]</td>
					<td th:inline="text">[[${p.stock}]]</td>
					<td>
						<a th:href="@{'/admin/product/'+${p.id}+'/image'}">
							<span class="fa fa-picture-o" aria-hidden="true"></span>
						</a>
					</td>
					<td>
						<a th:href="@{'/admin/product/'+${p.id}+'/propertyValue'}">
							<span class="fa fa-list" aria-hidden="true"></span>
						</a>
					</td>
					<td>
						<a th:href="@{'/admin/category/'+${c.id}+'/product/'+${p.id}}">
							<span class="fa fa-edit" aria-hidden="true"></span>
						</a>
					</td>
					<td>
						<span id="productDelete" th:attr="link=@{'/admin/category/'+${c.id}+'/product/'+${p.id}}"
							class="fa fa-trash-o" aria-hidden="true">
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="pageDiv">
		<div th:insert="~{/include/admin/adminPage :: adminPage}"></div>	
	</div>

	<div class="card card-default addDiv">
		<div class="card-header">新增产品</div>
		<div class="card-body">
			<form method="post" id="addForm" th:attr="action=@{/admin/category/${c.id}/product}">
				<table class="addTable">
					<tr>
						<td>产品名称</td>
						<td><input id="name" name="name" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>产品小标题</td>
						<td><input id="subTitle" name="subTitle" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>原价格</td>
						<td><input id="originalPrice" name="originalPrice" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>优惠价格</td>
						<td><input id="promotePrice"  name="promotePrice" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td>库存</td>
						<td><input id="stock" name="stock" type="text" class="form-control"></td>
					</tr>
					<tr class="submitTR">
						<td colspan="2" align="center">
							<input type="hidden" name="cid" th:attr="value=@{${c.id}}">
							<button type="submit" class="btn btn-success">提 交</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div th:insert="~{/include/admin/adminFooter :: adminFooter}"></div>
</div>
</body>
</html>