<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>属性管理</title>
<link rel="shortcut icon" type="image/x-icon" 
	th:href="@{/img/site/tmallIcon.ico}" media="screen" />
</head>
<body>
  <div th:insert="~{/include/admin/adminHeader :: adminHeader}"></div>
	<div th:insert="~{/include/admin/adminNavigator :: adminNavigator}"></div>
	
	<script>
		$(function() {
			$("#addForm").submit(function() {
				if (checkEmpty("name", "属性名称"))
					return true;
				return false;
			});
			
			//删除属性
			$("span#properyDelete").click(function(){
				var url = $(this).attr("link");
				deleteFun(url);
			});
			
			//分类id
			var cid = [[${c.id}]];
      //拼接url的字符串数组
 			var urls = new Array("category",cid);
	    //为分页按钮a元素设置对应的href属性值
      setPageUrl(urls);
		});
	</script>

	<div class="workingArea">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/admin/category}">所有分类</a></li>
			<li class="breadcrumb-item"><a th:href="@{'/admin/category/'+${c.id}+'/property'}">[[${c.name}]]</a></li>
			<li class="breadcrumb-item active">属性管理</li>
		</ol>
		<div class="listDataTableDiv">
			<table class="table table-sm">
				<thead class="grep lighten-5">
					<tr>
						<th>ID</th>
						<th>属性名称</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${ps}">
						<td th:inline="text">[[${p.id}]]</td>
						<td th:inline="text">[[${p.name}]]</td>
						<td>
							<a th:href="@{'/admin/category/'+${c.id}+'/property/'+${p.id}}">
								<span class="fa fa-edit" aria-hidden="true"></span>
							</a>
						</td>
						<td>
							<span id="properyDelete" th:attr="link=@{'/admin/category/'+${c.id}+'/property/'+${p.id}}" class="fa fa-trash-o" aria-hidden="true"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageDiv">
			<div th:insert="~{/include/admin/adminPage :: adminPage}"></div>
		</div>
		<div class="card border-dark mb-3 addDiv">
			<div class="card-header">新增属性</div>
			<div class="card-body text-dark">
				<form method="post" id="addForm" th:attr="action=@{'/admin/category/'+${c.id}+'/property'}">
					<table class="addTable">
						<tr>
							<td>属性名称</td>
							<td><input id="name" name="name" type="text" class="form-control"></td>
						</tr>
						<tr class="submitTR">
							<td colspan="2" align="center">
								<input type="hidden" name="cid" th:attr="value=@{${c.id}}">
								<button type="submit" class="btn btn-success">提 交</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div th:insert="~{/include/admin/adminFooter :: adminFooter}"></div>
</body>
</html>