<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="boughtPage">
	<!-- <script type="text/javascript" src="/js/fore/bought.js"></script> -->
	
	<script>
		var deleteOrder = false;     // 标记是否要删除订单
		var orderStatus = "delete";  // 设置初始订单状态为"delete"，根据状态查询订单
		var count = 0;               // 查询第count个订单 
		var total = 0;               // 订单总数
		var n = 3;                   // 预加载订单数量
		var callback = queryOrder;   // 将queryOrder函数赋值给callback变量，方便将函数作为参数传递
		
		// 预加载n个订单
		function preLoad() {
			for(var i=0; i<n; i++) {
				queryOrder(count++, orderStatus);
			}
		}
		
		// 查询处于某种状态下的订单总数
		function getTotal(status) {
			var url = "jsondata/bought/total/"+status;
			$.get(
				url,
				function(data){
					// 设置订单总数
					total = data;	
					// 设置count为0
					count = 0;
					// 预加载部分订单
					// 在回调函数中，data的返回时间不确定
					// 因为要确保data成功返回，才能调用preLoad函数，所以要在这里调用preLoad函数
					preLoad();
				}
			)
		}
		
		var deleteOrderid = 0;       // 订单id
		var url = window.location.pathname;
		$(function(){
			$("a[orderStatus]").each(function(){
				var href = $(this).attr("href");
				if(url.indexOf(href) >= 0) {
					$(this).parent("div").addClass("selectedOrderType")
				}
			});
			
			$("a.deleteOrderLink").click(function(){
				var oid = $(this).attr("oid");
				deleteOrderid = oid;
				deleteOrder = false;
				$("#deleteConfirmModal").modal("show");
			});
	 
			$("button.deleteConfirmButton").click(function(){
				deleteOrder = true;
				$("#deleteConfirmModal").modal('hide');
			});
			
			// 发货
			$("button.ask2delivery").click(function(){
				askToDelivery();
			})
			
			// 确认删除订单
			$('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
				if(deleteOrder){
					var page="/deleteOrder";
					console.log(deleteOrderid);
					$.post(
						page,
						{"oid":deleteOrderid},
						function(result){
							if("success"==result){
								$("table.orderListItemTable[oid="+deleteOrderid+"]").hide();
							}
							else{
								location.href="login";
							}
						}
					);
				}
			})     
			
			var status = $("div.selectedOrderType a").attr("orderStatus");
			var urls = new Array("bought", status);
			setPageUrl(urls);
		});
		
		// 删除已经渲染的table
		function removeTable(){
			var tables = $("table.orderListItemTable");
			var number = tables.length;
			var count = 0;
			tables.each(function(){
				$(this).remove();
				count++;
			});
			if(count == number)    // 删除所有table后返回true
				return true;
		}
		
		// 催促卖家发货
		function askToDelivery() {
			var link = $("button.ask2delivery").attr("link");
			$("button.ask2delivery").hide();
			page = link;
			$.ajax({
				url: page,
				success: function(result){
					alert("卖家已发货，刷新当前页面，即可进行确认收货")
				}
			});
		}
		
		// 查询处于orderStatus状态下的第count个订单
		function queryOrder(count, orderStatus) {
			if(count < total) {     // 确保count小于订单总数total
				var url = "jsondata/bought/"+orderStatus+"/"+count;
				$.get(
					url,
					function(data){ 
						for(var i in data) {
							createOrderListDiv(data[i]);
						}
					}
				);	
			}
		}
		
		// 渲染订单div
		function createOrderListDiv(data) {
			var table = document.createElement("table");
			table.setAttribute("orderStatus", data.status);
			table.setAttribute("oid", data.id);
			table.className = "orderListItemTable";
			
			var headTr = createTableHeadTr(data);
			table.appendChild(headTr);

			var orderItems = data.orderItems;
			var length = orderItems.length;
			for(var i in orderItems) {
				var orderItem = orderItems[i];
				var productTr = createTableProductTr(data,orderItem,i,length);
				table.appendChild(productTr);
			}
			$("div.orderListItem").append(table);
		} 
	</script>
     
	<div class="boughtDiv">
		<div class="orderType">
			<div><a th:attr="orderStatus=@{'all'}" th:href="@{/bought/all}">所有订单</a></div>
			<div><a th:attr="orderStatus=@{'waitPay'}" th:href="@{/bought/waitpay}">待付款</a></div>
			<div><a th:attr="orderStatus=@{'waitDelivery'}" th:href="@{/bought/waitdelivery}">待发货</a></div>
			<div><a th:attr="orderStatus=@{'waitConfirm'}" th:href="@{/bought/waitconfirm}">待收货</a></div>
			<div><a th:attr="orderStatus=@{'waitReview'}" th:href="@{/bought/waitreview}" class="noRightborder">待评价</a></div>
			<div class="orderTypeLastOne"><a class="noRightborder"> </a></div>
		</div>
		<div style="clear:both"></div>
		<div class="orderListTitle">
			<table class="orderListTitleTable">
				<tr>
					<td>宝贝</td>
					<td width="100px">单价</td>
					<td width="80px">数量</td>
					<td width="140px">实付款</td>
					<td width="120px">交易操作</td>
				</tr>
			</table>
		</div>
		<div class="orderListItem">
			<table class="orderListItemTable" th:each="o : ${os}" th:attr="orderStatus=@{${o.status}}, oid=@{${o.id}}" >
				<tr class="orderListItemFirstTR">
					<td colspan="2">
						<b th:inline="text">[[${#dates.format(o.createDate, 'yyyy-MM-dd HH:mm:ss')}]]</b>
						<span th:inline="text">订单号: [[${o.orderCode}]]</span>
					</td>
					<td colspan="2"><img width="13px" th:attr="src=@{/img/site/orderItemTmall.png}">天猫商场</td>
					<td colspan="1">
						<a class="wangwanglink">
							<span class="orderItemWangWangGif"></span>
						</a>
					</td>
					<td class="orderItemDeleteTD">
						<a class="deleteOrderLink" th:attr="oid=@{${o.id}}">
							<span class="orderListItemDelete fa fa-trash-o"></span>
						</a>
					</td>
				</tr>
				<tr class="orderItemProductInfoPartTR" th:each="oi, stat : ${o.orderItems}">
					<td class="orderItemProductInfoPartTD"><img width="80" height="80" th:attr="src=@{'/img/productSingle_middle/'+${oi.product.firstProductImage.id}+'.jpg'}"></td>
					<td class="orderItemProductInfoPartTD">
						<div class="orderListItemProductLinkOutDiv">
							<a th:href="@{'/product/'+${oi.product.id}}" th:inline="text">[[${oi.product.name}]]</a>
							<div class="orderListItemProductLinkInnerDiv">
								<img th:attr="src=@{/img/site/creditcard.png}" title="支持信用卡支付">
								<img th:attr="src=@{/img/site/7day.png}" title="消费者保障服务,承诺7天退货">
								<img th:attr="src=@{/img/site/promise.png}" title="消费者保障服务,承诺如实描述">                      
							</div>
						</div>
					</td>
					<td class="orderItemProductInfoPartTD" width="100px">
						<div class="orderListItemProductOriginalPrice" th:inline="text">￥[[${#numbers.formatDecimal(oi.product.originalPrice,0,'COMMA',2,'POINT')}]]</div>
						<div class="orderListItemProductPrice" th:inline="text">￥[[${#numbers.formatDecimal(oi.product.promotePrice,0,'COMMA',2,'POINT')}]]</div>
					</td>
					<td th:attr="rowspan=@{${o.orderItems.size()}}" class="orderListItemNumberTD orderItemOrderInfoPartTD" width="80px" th:if="${stat.count==1}">
						<span class="orderListItemNumber" th:inline="text">[[${o.totalNumber}]]</span>
					</td>
					<td th:attr="rowspan=@{${o.orderItems.size()}}" width="140px" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" th:if="${stat.count==1}">
						<div class="orderListItemProductRealPrice" th:inline="text">￥[[${#numbers.formatDecimal(o.total,0,'COMMA',2,'POINT')}]]</div>
						<div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
					</td>
					<td th:attr="rowspan=@{${o.orderItems.size()}}" class="orderListItemButtonTD orderItemOrderInfoPartTD" width="120px" th:if="${stat.count==1}">
						<a th:href="@{'/confirmPay/'+${o.id}}" th:if="${o.status=='waitConfirm'}">
							<button class="orderListItemConfirm">确认收货</button>
						</a>
						<a th:href="@{'/alipay/'+${o.id}+'/'+${o.total}}" th:if="${o.status=='waitPay'}">
							<button class="orderListItemConfirm">付款</button>
						</a>                             
						<span th:if="${o.status=='waitDelivery'}">待发货 
							<button th:attr="link=@{'/admin/order/delivery/'+${o.id}}" class="btn btn-blue-grey ask2delivery">提醒发货</button>
						</span>
						<a th:href="@{'/review/'+${o.id}}" th:if="${o.status=='waitReview'}">
							<button  class="orderListItemReview">评价</button>
						</a>
						<span th:if="${o.status=='finish'}">完成</span>
					</td>                    
				</tr>
			</table> 	
		</div>
		<div class="pageDiv">
			<div th:insert="~{/include/forePage :: forePage}"></div>
		</div>
	</div>
</div>
</html>