<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="boughtPage">
	<script>
		var deleteOrder = false;     // 标记是否要删除订单
		var deleteOrderid = 0;       // 订单id
		var orderStatus = "delete";  // 设置初始订单状态为"delete"，根据状态查询订单
		var count = 0;               // 查询第count个订单 
		var total = 0;               // 订单总数
		var n = 3;                   // 预加载订单数量
		var callback = queryOrder;   // 将queryOrder函数赋值给callback变量，方便将函数作为参数传递
		
		// 预加载n个订单
		function preLoad() {
			for(var i=0; i<n; i++) {
				queryOrder(count++, orderStatus);
			}
		}
		
		// 查询处于某种状态下的订单总数
		function getTotal(status) {
			var url = "jsondata/bought/total/"+status;
			$.get(
				url,
				function(data){
					// 设置订单总数
					total = data;	
					// 设置count为0
					count = 0;
					// 预加载部分订单
					// 在回调函数中，data的返回时间不确定
					// 因为要确保data成功返回，才能调用preLoad函数，所以要在这里调用preLoad函数
					preLoad();
				}
			)
		}
		
		$(function(){
			// 因为预加载了n次，所有将count设置为n，从第n个位置开始查询
			getTotal(orderStatus);
		 	count = n;  
			// 监听下拉滚动条事件，该函数在header.html中定义
			bindScrollEvent(callback, count, orderStatus);   // 每调用一次callback函数，count自增一次
			
			$("a[orderStatus]").click(function(){
				orderStatus = $(this).attr("orderStatus");   // 设置orderStatus
				if(orderStatus == "all")         // orderStatus为"all"即查询除了标记为删除状态外的所有订单
					orderStatus = "delete";				 // 将orderStatus设置为"delete"，反向查询除了"delete"
					                               // 状态外的其他所有订单
				// 删除所有已渲染的table
				if(removeTable()) {
					// 为当前a元素的父元素添加class "selectedOrderType"，并删除其他已经存在的class
					$("div.orderType div").removeClass("selectedOrderType");
					$(this).parent("div").addClass("selectedOrderType");
					
					// 查询订单总数
					getTotal(orderStatus);
					// 监听滚动条下拉事件
					bindScrollEvent(callback, count, orderStatus);
				}
			});
	
			$("button.deleteConfirmButton").click(function(){
				deleteOrder = true;
				$("#deleteConfirmModal").modal('hide');
			});
			
			// 确认删除订单
			$('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
				if(deleteOrder){
					var page="deleteOrder";
					$.post(
						page,
						{"oid":deleteOrderid},
						function(result){
							if("success"==result){
								$("table.orderListItemTable[oid="+deleteOrderid+"]").hide();
							}
							else{
								location.href="login";
							}
						}
					);
				}
			})     
		});
		
		// 删除已经渲染的table
		function removeTable(){
			var tables = $("table.orderListItemTable");
			var number = tables.length;
			var count = 0;
			tables.each(function(){
				$(this).remove();
				count++;
			});
			if(count == number)    // 删除所有table后返回true
				return true;
		}
		
		// 删除订单
		function deleteOrderById() {
			deleteOrderid = $("a.deleteOrderLink").attr("oid");
			deleteOrder = false;
			$("#deleteConfirmModal").modal("show");
		}
		
		// 催促卖家发货
		function askToDelivery() {
			var link = $("button.ask2delivery").attr("link");
			$("button.ask2delivery").hide();
			page = link;
			$.ajax({
				url: page,
				success: function(result){
					alert("卖家已发货，刷新当前页面，即可进行确认收货")
				}
			});
		}
		
		// 查询处于orderStatus状态下的第count个订单
		function queryOrder(count, orderStatus) {
			if(count < total) {     // 确保count小于订单总数total
				var url = "jsondata/bought/"+orderStatus+"/"+count;
				$.get(
					url,
					function(data){ 
						for(var i in data) {
							createOrderListDiv(data[i]);
						}
					}
				);	
			}
		}
		
		// 渲染订单div
		function createOrderListDiv(data) {
			var table = document.createElement("table");
			table.setAttribute("orderStatus", data.status);
			table.setAttribute("oid", data.id);
			table.className = "orderListItemTable";
			
			var headTr = createTableHeadTr(data);
			table.appendChild(headTr);

			var orderItems = data.orderItems;
			var length = orderItems.length;
			for(var i in orderItems) {
				var orderItem = orderItems[i];
				var productTr = createTableProductTr(data,orderItem,i,length);
				table.appendChild(productTr);
			}
			$("div.orderListItem").append(table);
		}

		// 渲染table的第一tr元素
		function createTableHeadTr(data) {
			var headTr = document.createElement("tr");
			headTr.className = "orderListItemFirstTR";
			
			var td1 = document.createElement("td");
			td1.setAttribute("colspan", "2");

			var b = document.createElement("b");
			var date = data.createDate;
			date = (new Date(date)).getTime();
			date = new Date(date).format("yyyy-MM-dd hh:mm:ss");
			var createDate = document.createTextNode(date);
			b.appendChild(createDate);

			var span = document.createElement("span");
			var orderCode = document.createTextNode("订单号："+data.orderCode);
			span.appendChild(orderCode);

			td1.appendChild(b);
			td1.appendChild(span);
			headTr.appendChild(td1);
			
			var td2 = document.createElement("td");
			td2.setAttribute("colspan", "2");
			
			var img = document.createElement("img");
			img.setAttribute("width", "13px");
			img.setAttribute("src", getProjectPath()+"img/site/orderItemTmall.png");
			var tmall = document.createTextNode("天猫商场");

			td2.appendChild(img);
			td2.appendChild(tmall);
			headTr.appendChild(td2);

			var td3 = document.createElement("td");
			td3.setAttribute("colspan", "1");

			var a = document.createElement("a");
			a.className = "wangwanglink";

			var span = document.createElement("span");
			span.className = "orderItemWangWangGif";

			a.appendChild(span);
			td3.appendChild(a);
			headTr.appendChild(td3);

			var td4 = document.createElement("td");
			td4.className = "orderItemDeleteTD";

			var a = document.createElement("a");
			a.className = "deleteOrderLink";
			a.setAttribute("onclick", "deleteOrderById()");
			a.setAttribute("oid", data.id);
			a.setAttribute("href", "#");

			var span = document.createElement("span");
			span.className = "orderListItemDelete glyphicon glyphicon-trash";

			a.appendChild(span);
			td4.appendChild(a);
			headTr.appendChild(td4);
			
			return headTr;
		}

		// 渲染包含订单信息的tr元素
		function createTableProductTr(data, orderItem, i, length) {
			var productTr = document.createElement("tr");
			productTr.className = "orderItemProductInfoPartTR";

			var td1 = document.createElement("td");
			td1.className = "orderItemProductInfoPartTD";

			var img = document.createElement("img");
			img.setAttribute("width","80px");
			img.setAttribute("height","80px");
			img.setAttribute("src",getProjectPath()+"img/productSingle_middle/"+orderItem.product.firstProductImage.id+".jpg");

			td1.appendChild(img);
			productTr.appendChild(td1);
			
			var td2 = document.createElement("td");
			td2.className = "orderItemProductInfoPartTD";

			var div = document.createElement("div");
			div.className = "orderItemProductLinkOutDiv";
			var a = document.createElement("a");
			a.setAttribute("href",getProjectPath()+"product/"+orderItem.product.id);
			var pName = document.createTextNode(orderItem.product.name);
			a.appendChild(pName);
			div.appendChild(a);
			var div2 = document.createElement("div");
			div2.className = "orderItemProductLinkInnerDiv";
			var img1 = document.createElement("img");
			var img2 = document.createElement("img");
			var img3 = document.createElement("img");
			img1.setAttribute("src",getProjectPath()+"img/site/creditcard.png");
			img1.setAttribute("title","支持信用卡支付");
			img2.setAttribute("src",getProjectPath()+"img/site/7day.png");
			img2.setAttribute("title","消费者保障服务，承诺7天退货");
			img3.setAttribute("src",getProjectPath()+"img/site/promise.png");
			img3.setAttribute("title","消费者保障服务，承诺如实描述");
			div2.appendChild(img1);
			div2.appendChild(img2);
			div2.appendChild(img3);
			div.appendChild(div2);
			td2.appendChild(div);
			productTr.appendChild(td2);

			var td3 = document.createElement("td");
			td3.className = "orderItemProductInfoPartTD";
			td3.setAttribute("width", "100px");
			var div1 = document.createElement("div");
			var div2 = document.createElement("div");
			var formatOPrice = orderItem.product.originalPrice;
			var formatPPrice = orderItem.product.promotePrice;
			formatOPrice = formatMoney(formatOPrice);
			formatPPrice = formatMoney(formatPPrice);
			var oPrice = document.createTextNode(formatOPrice);
			var pPrice = document.createTextNode(formatPPrice);
			div1.appendChild(oPrice);
			div2.appendChild(pPrice);
			td3.appendChild(div1);
			td3.appendChild(div2);
			productTr.appendChild(td3);

			if(i == 0) {
				var td4 = document.createElement("td");
				td4.setAttribute("valign","center");
				td4.setAttribute("rowspan",length);
				td4.setAttribute("width","100px");
				td4.className = "orderListItemButtonTD orderItemOrderInfoPartTD";
				var span = document.createElement("span");
				span.className = "orderListItemNumber";
				var number = document.createTextNode(data.totalNumber);
				span.appendChild(number);
				td4.appendChild(span);
				productTr.appendChild(td4);

				var td5 = document.createElement("td");
				td5.setAttribute("valign","center");
				td5.setAttribute("rowspan",length);
				td5.setAttribute("width","120px");
				td5.className = "orderListItemProductRealPriceTD orderItemOrderInfoPartTD";
				var div1 = document.createElement("div");
				var div2 = document.createElement("div");
				div1.className = "orderListItemProductRealPrice";
				div2.className = "orderListItemPriceWithTransport";
				var formatTotal = data.total;
				formatTotal = formatMoney(formatTotal);
				var oPrice = document.createTextNode(formatTotal);
				var transport = document.createTextNode("(含运费：￥0.00)");
				div1.appendChild(oPrice);
				div2.appendChild(transport);
				td5.appendChild(div1);
				td5.appendChild(div2);
				productTr.appendChild(td5);

				var td6 = document.createElement("td");
				td6.setAttribute("valign","center");
				td6.setAttribute("rowspan",length);
				td6.setAttribute("width","100px");
				td6.className = "orderListItemButtonTD orderItemOrderInfoPartTD";

				var a = document.createElement("a");
				var button = document.createElement("button");
				if("waitConfirm" == data.status){
					a.setAttribute("href",getProjectPath()+"confirmPay/"+data.id);
					button.className = "orderListItemConfirm";
					var confirm = document.createTextNode("确认收货");
					button.appendChild(confirm);
					a.appendChild(button);
					td6.appendChild(a);
					productTr.appendChild(td6);
				}
				else if("waitPay"==data.status) {
					a.setAttribute("href",getProjectPath()+"alipay/"+data.id+"/"+data.total);
					button.className = "orderListItemConfirm";
					var pay = document.createTextNode("付款");
					button.appendChild(pay);
					a.appendChild(button);
					td6.appendChild(a);
					productTr.appendChild(td6);
				}
				else if("waitDelivery"==data.status) {
					var span = document.createElement("span");
					var delivery = document.createTextNode("待发货");
					button.setAttribute("link","admin/order/delivery/"+data.id);
				 	button.setAttribute("onclick","askToDelivery()"); 
				 	button.setAttribute("type","button");
					button.className = "btn btn-blue-grey ask2delivery";
					var askToDelivery = document.createTextNode("崔发货");
					button.appendChild(askToDelivery);
					span.appendChild(delivery);
					span.appendChild(button);
					td6.appendChild(span);
					productTr.appendChild(td6);
				}
				else if("waitReview"==data.status) {
					a.setAttribute("href",getProjectPath()+"review/"+data.id);
					button.className = "orderListItemReview";
					var comment = document.createTextNode("评价");
					button.appendChild(comment);
					a.appendChild(button);
					td6.appendChild(a);
					productTr.appendChild(td6);
				}
				else {
					var span = document.createElement("span");
					var finish = document.createTextNode("完成");
					span.appendChild(finish);
					td6.appendChild(span);
					productTr.appendChild(td6);
				}
			}
			return productTr;
		} 
	</script>
     
	<div class="boughtDiv">
		<div class="orderType">
			<div class="selectedOrderType"><a th:attr="orderStatus=@{'all'}" href="#">所有订单</a></div>
			<div><a th:attr="orderStatus=@{'waitPay'}" href="#">待付款</a></div>
			<div><a th:attr="orderStatus=@{'waitDelivery'}" href="#">待发货</a></div>
			<div><a th:attr="orderStatus=@{'waitConfirm'}" href="#">待收货</a></div>
			<div><a th:attr="orderStatus=@{'waitReview'}" href="#" class="noRightborder">待评价</a></div>
			<div class="orderTypeLastOne"><a class="noRightborder"> </a></div>
		</div>
		<div style="clear:both"></div>
		<div class="orderListTitle">
			<table class="orderListTitleTable">
				<tr>
					<td>宝贝</td>
					<td width="100px">单价</td>
					<td width="100px">数量</td>
					<td width="120px">实付款</td>
					<td width="100px">交易操作</td>
				</tr>
			</table>
		</div>
		<div class="orderListItem">
			
		</div>
	</div>
</div>
</html>