<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="cartPage">
	<script>
	var deleteOrderItem = false;
	var deleteOrderItemid = 0;
	$(function(){
		$("a.deleteOrderItem").click(function(){
			deleteOrderItem = false;
			var oiid = $(this).attr("oiid")
			deleteOrderItemid = oiid;
			$("#deleteConfirmModal").modal('show');   
		});
		$("button.deleteConfirmButton").click(function(){
			deleteOrderItem = true;
			$("#deleteConfirmModal").modal('hide');
		});
			 
		$('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
			if(deleteOrderItem){
				var page="deleteOrderItem/"+deleteOrderItemid;
				$.get(
					page,
					null,
					function(result){
						if("success"==result){
			/* 				$("tr.cartProductItemTR[oiid="+deleteOrderItemid+"]").remove();
							calcCartSumPriceAndNumber(); */
							location.href = "cart";
						}
						else{
							location.href="login";
						}
					}
				);
			}
		}) 
			 
		$("img.cartProductItemIfSelected").click(function(){
			var selectit = $(this).attr("selectit")
			if("selectit"==selectit){
				$(this).attr("src","img/site/cartNotSelected.png");
				$(this).attr("selectit","false")
				$(this).parents("tr.cartProductItemTR").css("background-color","#fff");
			}
			else{
				$(this).attr("src","img/site/cartSelected.png");
				$(this).attr("selectit","selectit")
				$(this).parents("tr.cartProductItemTR").css("background-color","#FFF8E1");
			}
			syncSelect();
			syncCreateOrderButton();
			calcCartSumPriceAndNumber();
		});
		$("img.selectAllItem").click(function(){
			var selectit = $(this).attr("selectit")
			if("selectit"==selectit){
				$("img.selectAllItem").attr("src","img/site/cartNotSelected.png");
				$("img.selectAllItem").attr("selectit","false")
				$(".cartProductItemIfSelected").each(function(){
					$(this).attr("src","img/site/cartNotSelected.png");
					$(this).attr("selectit","false");
					$(this).parents("tr.cartProductItemTR").css("background-color","#fff");
				});        
			}
			else{
				$("img.selectAllItem").attr("src","img/site/cartSelected.png");
				$("img.selectAllItem").attr("selectit","selectit")
				$(".cartProductItemIfSelected").each(function(){
					$(this).attr("src","img/site/cartSelected.png");
					$(this).attr("selectit","selectit");
					$(this).parents("tr.cartProductItemTR").css("background-color","#FFF8E1");
				});            
			}
			syncCreateOrderButton();
			calcCartSumPriceAndNumber();
				 
		});
		 
		$(".orderItemNumberSetting").keyup(function(){
			var pid=$(this).attr("pid");
			var stock= $("span.orderItemStock[pid="+pid+"]").text();
			var price= $("span.orderItemPromotePrice[pid="+pid+"]").text();
			 
			var num= $(".orderItemNumberSetting[pid="+pid+"]").val();
			num = parseInt(num);
			if(isNaN(num))
				num= 1;
			if(num<=0)
				num = 1;
			if(num>stock)
				num = stock;
			 
			syncPrice(pid,num,price);
		});

		$(".numberPlus").click(function(){
				 
			var pid=$(this).attr("pid");
			var stock= $("span.orderItemStock[pid="+pid+"]").text();
			var price= $("span.orderItemPromotePrice[pid="+pid+"]").text();
			var num = $(".orderItemNumberSetting[pid="+pid+"]").val();

			num++;
			if(num>stock)
				num = stock;
			syncPrice(pid,num,price);
		});
		$(".numberMinus").click(function(){
			var pid=$(this).attr("pid");
			var stock= $("span.orderItemStock[pid="+pid+"]").text();
			var price= $("span.orderItemPromotePrice[pid="+pid+"]").text();
			 
			var num= $(".orderItemNumberSetting[pid="+pid+"]").val();
			--num;
			if(num<=0)
				num=1;
			syncPrice(pid,num,price);
		});
		 
		$("button.createOrderButton").click(function(){
			var oiids = new Array();
			$(".cartProductItemIfSelected").each(function(){
				if("selectit"==$(this).attr("selectit")){
					var oiid = $(this).attr("oiid");
					oiids.push(oiid);
				}
			});
			location.href="buy/"+oiids;
		});
			 
	})
	 
	function syncCreateOrderButton(){
		var selectAny = false;
		$(".cartProductItemIfSelected").each(function(){
			if("selectit"==$(this).attr("selectit")){
				selectAny = true;
			}
		});
		 
		if(selectAny){
			$("button.createOrderButton").css("background-color","#C40000");
			$("button.createOrderButton").removeAttr("disabled");
		}
		else{
			$("button.createOrderButton").css("background-color","#AAAAAA");
			$("button.createOrderButton").attr("disabled","disabled");     
		}
					 
	}
	function syncSelect(){
		var selectAll = true;
		$(".cartProductItemIfSelected").each(function(){
			if("false"==$(this).attr("selectit")){
				selectAll = false;
			}
		});
		 
		if(selectAll)
			$("img.selectAllItem").attr("src","img/site/cartSelected.png");
		else
			$("img.selectAllItem").attr("src","img/site/cartNotSelected.png");
			 
	}
	function calcCartSumPriceAndNumber(){
		var sum = 0;
		var totalNumber = 0;
		$("img.cartProductItemIfSelected[selectit='selectit']").each(function(){
			var oiid = $(this).attr("oiid");
			var price =$(".cartProductItemSmallSumPrice[oiid="+oiid+"]").text();
			price = price.replace(/,/g, "");
			price = price.replace(/￥/g, "");
			sum += new Number(price);  
			 
			var num =$(".orderItemNumberSetting[oiid="+oiid+"]").val();
			totalNumber += new Number(num);
				 
		});
		 
		$("span.cartSumPrice").html("￥"+formatMoney(sum));
		$("span.cartTitlePrice").html("￥"+formatMoney(sum));
		$("span.cartSumNumber").html(totalNumber);
	}
	function syncPrice(pid,num,price){
		$(".orderItemNumberSetting[pid="+pid+"]").val(num);
		var cartProductItemSmallSumPrice = formatMoney(num*price);
		$(".cartProductItemSmallSumPrice[pid="+pid+"]").html("￥"+cartProductItemSmallSumPrice);
		calcCartSumPriceAndNumber();
		 
		var page = "changeOrderItem";
		$.post(
			page,
			{"pid":pid,"number":num},
			function(result){
				if("success"!=result){
					location.href="login";
				}
			}
		);
	 
	}
	</script>
	 
	<div class="cartDiv">
		<div class="cartTitle pull-right">
			<span>已选商品  (不含运费)</span>
			<span class="cartTitlePrice">￥0.00</span>
			<button class="createOrderButton" disabled="disabled">结 算</button>
		</div>
			 
		<div class="cartProductList">
			<table class="cartProductTable">
				<thead>
					<tr>
						<th class="selectAndImage">
							<img th:attr="selectit=@{'false'}, src=@{/img/site/cartNotSelected.png}" class="selectAllItem" >全选
						</th>
						<th>商品信息</th>
						<th>单价</th>
						<th>数量</th>
						<th width="120px">金额</th>
						<th class="operation">操作</th>
					</tr>
				</thead>
				<tbody th:each="oi : ${ois}">
					<tr th:attr="oiid=@{${oi.id}}" class="cartProductItemTR">
						<td>
							<img th:attr="selectit=@{'false'}, oiid=@{${oi.id}}, src=@{/img/site/cartNotSelected.png}" class="cartProductItemIfSelected" >
							<a style="display:none" href="#nowhere"><img th:attr="src=@{/img/site/cartSelected.png}"></a>
							<img class="cartProductImg"  th:attr="src=@{'/img/productSingle_middle/'+${oi.product.firstProductImage.id}+'.jpg'}">
						</td>
						<td>
							<div class="cartProductLinkOutDiv">
								<a th:href="@{'/product/'+${oi.product.id}}" class="cartProductLink" th:inline="text">[[${oi.product.name}]]</a>
								<div class="cartProductLinkInnerDiv">
									<img th:attr="src=@{/img/site/creditcard.png}" title="支持信用卡支付">
									<img th:attr="src=@{/img/site/7day.png}" title="消费者保障服务,承诺7天退货">
									<img th:attr="src=@{/img/site/promise.png}" title="消费者保障服务,承诺如实描述">
								</div>
							</div>
						</td>
						<td>
							<span class="cartProductItemOringalPrice" th:inline="text">￥[[${oi.product.originalPrice}]]</span>
							<span class="cartProductItemPromotionPrice" th:inline="text">￥[[${oi.product.promotePrice}]]</span>
						</td>
						<td>
							<div class="cartProductChangeNumberDiv">
								<span class="hidden orderItemStock" th:attr="pid=@{${oi.product.id}}" th:inline="text">[[${oi.product.stock}]]</span>
								<span class="hidden orderItemPromotePrice" th:attr="pid=@{${oi.product.id}}" th:inline="text">[[${oi.product.promotePrice}]]</span>
								<a th:attr="pid=@{${oi.product.id}}" class="numberMinus" href="#">-</a>
								<input th:attr="pid=@{${oi.product.id}}, oiid=@{${oi.id}}, value=@{${oi.number}}" class="orderItemNumberSetting" autocomplete="off" >
								<a th:attr="stock=@{${oi.product.stock}}, pid=@{${oi.product.id}}"  class="numberPlus" href="#">+</a>
							</div>                   
						 </td>
						<td >
							<span class="cartProductItemSmallSumPrice" th:attr="oiid=@{${oi.id}}, pid=@{${oi.product.id}}" 
								th:inline="text">￥[[${#numbers.formatDecimal(oi.product.promotePrice*oi.number, 0,'COMMA',2,'POINT')}]]
							</span>
						</td>
						<td>
							<a class="deleteOrderItem" th:attr="oiid=@{${oi.id}}" href="#">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cartFoot">
			<img th:attr="selectit=@{'false'}, src=@{/img/site/cartNotSelected.png}" class="selectAllItem" >
			<span>全选</span><span> |</span>
			<a href="#">删除全部</a>
			<div class="pull-right">
				<span>已选商品 <span class="cartSumNumber" >0</span> 件</span>
				<span>合计 (不含运费): </span>
				<span class="cartSumPrice" >￥0.00</span>
				<button class="createOrderButton" disabled="disabled" >结  算</button>
			</div>
		</div>
	</div>
</div>
</html>