<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="cac">
	<script th:inline="javascript">
		function showProductsAsideCategories(cid){
			$("div.eachCategory[cid="+cid+"]").css("background-color","white");
			$("div.eachCategory[cid="+cid+"] a").css("color","#87CEFA");
			$("div.productsAsideCategories[cid="+cid+"]").show();
		}

		function hideproductsAsideCategories(cid){
			$("div.eachCategory[cid="+cid+"]").css("background-color","#e2e2e3");
			$("div.eachCategory[cid="+cid+"] a").css("color","#000");
			$("div.productsAsideCategories[cid="+cid+"]").hide();
		}
		$(function(){
				$("div.eachCategory").mouseenter(function(){
						var cid = $(this).attr("cid");
						showProductSubtitle(cid);
						changeColorRandomly(cid);
						showProductsAsideCategories(cid);
				});
				$("div.eachCategory").mouseleave(function(){
						var cid = $(this).attr("cid");
						hideproductsAsideCategories(cid);
				});
				$("div.productsAsideCategories").mouseenter(function(){
					var cid = $(this).attr("cid");
					showProductsAsideCategories(cid);
				});
				$("div.productsAsideCategories").mouseleave(function(){
					var cid = $(this).attr("cid");
					hideproductsAsideCategories(cid);
				});
			
			$("div.rightMenu span").mouseenter(function(){
				var left = $(this).position().left;
				var top = $(this).position().top;
				var width = $(this).css("width");
				var destLeft = parseInt(left) + parseInt(width)/2;
				$("img#catear").css("left",destLeft);
				$("img#catear").css("top",top-20);
				$("img#catear").fadeIn(500);
						
			});
			$("div.rightMenu span").mouseleave(function(){
				$("img#catear").hide();
			});
			
			var left = $("div#carousel-of-product").offset().left;
			$("div.categoryMenu").css("left",left-20);
			$("div.categoryWithCarousel div.head").css("margin-left",left);
			$("div.productsAsideCategories").css("left",left-20);
			
		});
	</script>

	<img th:attr="src=@{/img/site/catear2.png}" id="catear" class="catear"/>
	<div class="categoryWithCarousel">
		<div class="headbar show1">
			<div class="head ">
				<span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
				<span style="margin-left:10px" >商品分类</span>
			</div>
			<div class="rightMenu">
				<span><a href="#"><img th:attr="src=@{/img/site/chaoshi2.png}"/></a></span>
				<span><a href="#"><img th:attr="src=@{/img/site/guoji2.png}"/></a></span>
				<span th:each="c,cStat : ${cs}" th:if="${cStat.count <= 4}">
					<a th:href="@{'/category/'+${c.id}}" th:inline="text" target="_blank">[[${c.name}]]</a>
				</span>
			</div>
		</div>
		<div style="position: relative">
			<div th:insert="~{include/home/categoryMenu :: cm}" ></div>
		</div>
		<div style="position: relative;left: 0;top: 0;">
			<div th:insert="~{include/home/productsAsideCategories :: pac}" ></div>
		</div>
		<div th:insert="~{include/home/carousel :: carousel}" ></div>
		<div class="carouselBackgroundDiv"></div>
	</div>
</div>
</html>