<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>页面不存在</title>
<link rel="shortcut icon" type="image/x-icon" 
	th:href="@{/img/site/tmallIcon.ico}" media="screen" />
</head>
<body>
	<div th:insert="~{include/header :: header}"></div>
	<div th:insert="~{include/top :: top}"></div>
	<div th:insert="~{include/simpleSearch :: simpleSearch}"></div>
 	<div th:insert="~{include/fore/errorPage :: errorPage}"></div> 
	<div th:insert="~{include/footer :: footer}"></div>
</body>
</html>